:root {
    --hover:#03A9F4;
    --nav: #7D7D7D;
    --caption: #B4AD9E;
    --text: #626262   ;
}
body {
    font-family:  "Playfair Display", serif  ;
    font-size: 14 px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    color:var(--text);
    
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

ul, h2,  button {
    padding: 0;
    margin: 0;
}
img, button {
display: block;
}
.container {
    width: 936px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 2px solid yellow;
    justify-content: center;
    
}
.header {
    display: flex;
    justify-content: center;
}
.header-list {
    display: flex;
    justify-content: center;
    gap: 99px;
}

.header-link:hover {
     
    color:var(--hover);
}
.header-link {

    
     color:var(--nav) ;
    
}
.gallery-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 64px;
    row-gap: 130px;

}
.gallery-item {
 width: 420px;
}
.gallery-img {
    margin-bottom: 62px;
   padding: 92px 0px;
}
.Galery-h {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    gap: 160px;
    
  color:var(--caption);
}
 .Galery-h2 {
     
     
     font-weight: 400;
     font-size: 30 px;
 }
 
 
 .button {
     font-family: "Playfair Display", serif; 
     color:var(--text);
     font-weight: 400;
     line-height: normal;

     width: 165px;
height: 60px;
 background-color: transparent;
 border: 1px solid var(--text);
 /* padding: 20px 48px 21px 45px; */
 /* padding: 20px 40px; */
 margin: 90px auto 0;
 }
