.gallery-list {
    @extend %flex;
    display: flex;
    flex-wrap: wrap;
    column-gap: 64px;
    row-gap: 130px;

}
.gallery-list__item {
 width: 420px;
 flex: 1 1 100%;
 @media(min-width: 768px){
    flex-basis: calc((100% - 64px) / 2);
}
}

.galery-list__description {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    gap: 160px;
    
  color: getColor("caption");
}
.gallery__thumb{
    width: 100%;
    height: 200px;
    margin-bottom: 62px;
    @media(min-width: 768px){
   width: 420px;
        height: 280px;
        margin-bottom: 63px;
    }
    .gallery-list__img {
        @extend %img;
       
    }
}
 .galery-list__title {
     
     
     font-weight: 400;
     font-size: 30px;
     margin-bottom: 20px;
     @media(min-width: 768px){
        margin-bottom: 40px;
        font-size: 40px;
         }
 }
 
 
 .button {
    @extend %text;
     font-family: "Playfair Display", serif; 
  
     

     width: 165px;
height: 60px;
 
 @include btn(getColor("text"), transparent,1px solid getColor("text" ));
 padding-bottom: 65px;
 
 margin: 90px auto 0;
 }
