.header {
    @extend %flex;
    
}
.navigation-list {
    @extend %flex;
    
    
    gap: 99px;
    &__link {

    
        color: getColor("nav") ;
        &__link:hover {
     
            color:getColor("caption");
        }
   }
}




